
<dx-map 
    #map    
    center="Brooklyn Bridge,New York,NY" 
    [zoom]="14" 
    [height]="400" 
    width="100%" 
    provider="bing"
    [key]="key"
    [type]="'roadmap'">
</dx-map>


hi


<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        <span>Map Type</span>
        <dx-select-box 
            [dataSource]="[{key: 1, name: 'asd'}]" 
            displayExpr="name" 
            valueExpr="key" 
            [(value)]="value">
        </dx-select-box>
    </div>
</div>
